.discover-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 5.5rem;
}

.discover-main-section .covers-image {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 350px;
}

.icon-section {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
  padding: .75rem;
  width: 100px;
  height: 100px;
  background-color: #202027;
  margin-bottom: 2rem;
}

.icon img {
  width: 40px;
}

@media (max-width: 700px) {
  .discover-main-section{
    margin: 2rem;
  }
}
